<h3>Dashboard</h3>

<div class="row">
    <div class="col-lg-6">
        <br/>
        <div class="list-group">
            <h5 class="card-title">Items List</h5>
            <div class="card">
                <form id="shop-add">
                    <input type="text" id="shop-item" placeholder="New Item" required value="Gaming Mouse" />
                    <input type="submit" id="shop-add-btn" value="Add Item" />

                    <br />

                    <input type="text" id="shop-item" placeholder="New Item" required value="Gaming Keyboard" />
                    <input type="submit" id="shop-add-btn" value="Add Item" />
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <br/>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Shopping Cart</h5>
                <p class="card-text">1pc of Gaming Keyboard - $25</p>
                <p class="card-text">1pc of Gaming Mouse - $12</p>
                <a href="#" class="btn btn-primary">Go to Checkout</a>
            </div>
        </div>
    </div>
</div>